
*.d


*.slo
*.lo
*.o
*.obj


*.gch
*.pch


*.ilk


*.pdb


*.so
*.dylib
*.dll
*.so.*



*.mod
*.smod


*.lai
*.la
*.a
*.lib


*.exe
*.out
*.app


build/
Build/
build-*/


CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json


*.tmp
*.log
*.bak
*.swp


vcpkg_installed/


*.dwo


Testing/
.cache/


.idea/
/packaging/soa-update-key.pem
/packaging/linux/AppDir/
/packaging/linux/build-appimage/
/packaging/linux/squashfs-root/
/packaging/linux/linuxdeploy-x86_64.AppImage
/packaging/linux/linuxdeploy-plugin-qt-x86_64.AppImage
/packaging/linux/Story_Of_Alicia-x86_64.AppImage
/packaging/linux/version.json
/packaging/linux/version.json.sig
/packaging/linux/versions.json
/packaging/linux/versions.json.sig
/packaging/macos/macos-version.json
/packaging/macos/macos-version.json.sig
/packaging/macos/macos-versions.json
/packaging/macos/macos-versions.json.sig
.DS_Store
/packaging/devloper*
